Repository rhopp/managed-gitops: changes, and which Codecov flags are due for each by the changed paths.
All: backend-shared, backend, frontend

fix Test backend-shared
  .github/workflows/codecov.yaml
Due: none

test commit
  backend/routes/application/application.go
Due: backend

Tidy up github actions
  .github/workflows/codecov.yaml
  .github/workflows/static.yml
Due: none

Arbitrarily lowering code coverage
  backend/routes/application/application.go
Due: backend

Add coverage for cluster-agent
  cluster-agent/Makefile
Due: none

Arvitrary lowering code coverage in all components
  backend-shared/config/db/application.go
  backend/routes/application/application.go
  cluster-agent/controllers/managed-gitops/operation_controller.go
Due: backend-shared, backend

test: Track code coverage.
  .codecov.yaml
  .github/workflows/static.yml
  backend/Makefile
  backend/routes/application_test.go
  backend/routes/managedenvironment_test.go
  backend/routes/operation_test.go
  cluster-agent/Makefile
Due: backend

Path conditions:
  backend-shared: any of: backend-shared/
  backend: any of: backend/
  frontend: any of: frontend/
